<h1><%= @recipe.name %></h1>

<h3>Description: <%= @recipe.description %></h3>
<h3>Directions: <%= @recipe.content %></h3>
<h3>Posted by: <a href = "/users/<%=@recipe.user_id%>"><%= User.find(@recipe.user_id).username %></a></h3>

<% if @recipe.user_id == session[:user_id]%>
  <h3>
    <form action= "/recipes/<%=@recipe.id%>/edit" method="patch">
      <input type="submit" value="Edit Recipe">
    </form>
  </h3>

  <h3>
    <form action= "/recipes/<%=@recipe.id%>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Recipe">
    </form>
  </h3>
<% end %>
