<h1><%= @user.username %></h1>
<h3>Email: <%= @user.email %></h3>

<form action= "/users/<%= @user.id %>/edit" method="patch">
  <input type="submit" value="Edit User">
</form><br>

<form action= "/users/<%= @user.id %>/delete" method="delete">
  <input type="submit" value="Delete User">
</form><br>

<h2> <%= @user.username %>'s Recipes </h2>

<% @user.recipes.each do |recipe| %>
  <h3><%= recipe.name %></h3>
  <h3><%= recipe.description %></h3>
  <h3><%= recipe.content %></h3>
  <br></br>
<% end %>
